  <div class="container conditions">
  <h1>Conditions</h1>

  <% if current_user && current_user.admin? %>
    <div class="mr-auto new-condition">
      <h3><%= link_to "Create New Condition", new_admin_condition_path %></h3>
    </div>
  <% end %>

  <% @conditions.each do |cond| %>
    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default text-center">
        <h3 class="panel condition-<%= cond.id %>">
          <strong><%= link_to cond.month_day_converter, condition_path(cond) %></strong>
        </h3>
      </div>
    </div>
  <% end %>
</div>

<div class="index-pagination panel">
  <%= will_paginate @condtions %>
</div>
