<div class="container conditions">
  <h1>Conditions</h1>

  <% @conditions.each do |cond| %>
    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default text-center">
        <h3 class="panel condition-<%= cond.id %>">
          <strong><%= link_to cond.month_day_converter, condition_path(cond) %></strong>
        </h3>
      </div>
    </div>
  <% end %>
</div>
<%= will_paginate @condtions %>
