<h1>Stations Dashboard</h1>

Total count of stations: <%= Station.total_count_of_stations %><br>
Average bikes available: <%= Station.average_bikes_available_per_station %><br>
Station(s) with most bikes available: <%= Station.stations_with_most_bikes_available %>

