.jumbotron {
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.cart-image {
  display: flex;
  justify-content: center;
  img {
    max-width: 273px;
    max-height: 300px;
  }
}
