.conditions {
  text-align: center;
  .panel {
    border-radius: 2em;

    .panel-heading {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .panel-body {
      font-size: 1.2em;
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      padding: 0.5em;
    }
  }
}
