.forms {
  display: flex;
  justify-content: center;
  margin-top: 6em;

  .form-group {
    width: 40em;
  }

  label {
    font-size: 18px;
  }

  .create-account {
    float: right;
    color:inherit;
    text-decoration: none;
    &:hover {
      color: white;
    }
    font-size: 18px;
  }
}
