.forms {
  display: flex;
  justify-content: center;
  margin-top: 6em;

  .form-group {
    width: 40em;
  }

  label {
    font-size: 18px;
  }

  .create-account {
    float: right;
    &:hover {
      color: white;
    }
    font-size: 18px;
  }

}


#accessory_image {
    display: inline;
    margin-left: 4em;
}
