.trips {
  text-align: center;
  .panel {
    border-radius: 2em;

    .panel-heading {
      margin-top: 0px;
      margin-botton: 0px;
    }

    .panel-body {
      font-size: 1.2em;
    }
  }
}

.index-pagination {
  text-align: center;
}
