html {
  height: 100%;
}

body {
  font: {
    family: 'Roboto Condensed', sans-serif;
  }
  background: {
    image: image-url("minimal_bike.jpeg");
    size: cover;
    repeat: no-repeat;
    position: center;
    attachment: fixed;
  }

  .station-container {
    padding-right: 4em;
  }

  .panel {
    opacity: 0.85;
  }
}

.construction {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  .sorry {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    h2 {
      margin: 0px 0px 10px 0px;
    }
  }
}

li {
  list-style-type: none;
}

a {
  color:inherit;
  text-decoration: none;
}

.pagination {
  span, .next_page, a, .current {
    font-size: 20px;
    padding: 0px 2px;
  }
}

.panel {
  border-radius: .25em;
}

th, td {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;

  form {
    margin: 0.5em 1.5em;
  }
}

.label {
  color: black;
  font: {
    weight: bold;
    size: 14px;
  }
}
