html {
  height: 100%;
}

body {
  font: {
    family: 'Roboto Condensed', sans-serif;
  }
  background: {
    image: url("minimal_bike.jpeg");
    size: cover;
    repeat: no-repeat;
    position: center;
  }
}

.construction {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  .sorry {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    h2 {
      margin: 0px 0px 10px 0px;
    }
  }
}

li {
  list-style-type: none;
}

a {
  color:inherit;
  text-decoration: none;
}

.pagination {
  span, .next_page, a, .current {
    font-size: 20px;
    padding: 0px 2px; 
  }
}
