html {
  height: 100%;
}

body {
  font: {
    family: 'Roboto Condensed', sans-serif;
  }
  background: {
    image: image-url("minimal_bike.jpeg");
    size: cover;
    repeat: no-repeat;
    position: center;
    attachment: fixed;
  }

  .station-container {
    padding-right: 4em;
  }

  .panel {
    opacity: 0.85;
  }
}

.construction {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  .sorry {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    h2 {
      margin: 0px 0px 10px 0px;
    }
  }
}

li {
  list-style-type: none;
}

a {
  color:inherit;
  text-decoration: none;
}

.pagination {
  span, .next_page, a, .current {
    font-size: 20px;
    padding: 0px 2px;
  }
}

.panel {
  border-radius: .25em;
}

.flash {
   animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}


