<div class="container trips">
  <div class="panel">
    <h3><%= @accessory.name %></h3>
      <li><%= @accessory.convert_to_dollars %></li>
      <li><%= @accessory.description %></li>
  </div>
</div>